library/
local/
cellar/
lock/
python/
sandbox/
staging/
renv/
data/processed/point/datos_CH_1863-2020_v2.RDS
data/processed/point/datos_era5land_ecoregion_sa_qmap.RDS
data/processed/point/datos_ESParagon_1950_2020_v3.RDS
data/processed/point/datos_SA_1960-2015_v1.2_01.RDS
data/processed/point/datos_SA_1960-2015_v1.2_02.RDS
data/processed/point/datos_SA_1960-2015_v1.2_03_tc.RDS
data/processed/point/datos_SA_1960-2015_v1.2_03.RDS
data/processed/point/datos_SA_1960-2015_v1.2_04_obs-bc.RDS
data/processed/point/datos_SA_1960-2015_v1.2_04_obs-mod.RDS
data/processed/point/datos_SA_1960-2015_v1.2.RDS
data/processed/vector
output/01_unification
output/02_quality-control
output/03_gap-filling
output/04_homogenization
output/05_visualization
output/06_database